# Bank Deposit Prediction


Hackathon link: https://skillenza.com/challenge/imarticus-datascience-hackathon-july2020

## Table of Contents

1. [Problem Statement](#section1)<br>
2. [Importing Packages](#section2)<br>
3. [Loading Data](#section3)<br>
  - 3.1 [Description of the Datasets](#section301)<br>
  - 3.2 [Pandas Profiling before Data Preprocessing](#section302)<br>
4. [Data Preprocessing](#section4)<br>
  - 4.1 [Filling missing values](#section401)<br>
  - 4.2 [Remove highly correlated columns](#section402)<br>
  - 4.x [Pandas Profiling after Data Preprocessing](#section40x)<br>
5. [Exploratory Data Analysis](#section5)<br>
  - 5.1 [Univariate Analysis](#section501)<br>
  - 5.2 [Multivariate Analysis](#section502)<br>
6. [Creating Model and Prediction](#section6)<br>  
  - 6.1 [](#section601)

<a id=section1></a>
# 1. Problem Statement

The objective of the problem is to predict the amount that would be deposited in each branch in the year 2017.

<a id=section2></a>
# 2. Importing Packages

In [1]:
import numpy as np                     

import pandas as pd

# To suppress pandas warnings.
pd.set_option('mode.chained_assignment', None) 

# To display all the data in each column
pd.set_option('display.max_colwidth', -1)         

pd.get_option("display.max_rows",10000)

# To display every column of the dataset in head()
pd.options.display.max_columns = 100               

import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

# To apply seaborn styles to the plots.
import seaborn as sns
sns.set(style='whitegrid', font_scale=1.3, color_codes=True)

<a id=section3></a>

# 3. Loading Data

In [3]:
df_test = pd.read_csv('test.csv', index_col = "id")
df_train = pd.read_csv('train.csv', index_col = "id")

<a id=section301></a>
## 3.1 Description of the Datasets

### a. shape

In [4]:
# checking shape of data
df_train.shape, df_test.shape

((3790, 13), (1623, 12))

### b. info

#### Train

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3790 entries, 1 to 3790
Data columns (total 13 columns):
headquarter              3790 non-null int64
location.Code            3790 non-null int64
date_of_establishment    1750 non-null object
location                 3790 non-null object
loc.details              3790 non-null object
state                    3790 non-null object
deposit_amount_2011      3050 non-null float64
deposit_amount_2012      3212 non-null float64
deposit_amount_2013      3461 non-null float64
deposit_amount_2014      3615 non-null float64
deposit_amount_2015      3734 non-null float64
deposit_amount_2016      3771 non-null float64
deposit_amount_2017      3771 non-null float64
dtypes: float64(7), int64(2), object(4)
memory usage: 414.5+ KB

#### Test

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1623 entries, 1 to 1623
Data columns (total 12 columns):
headquarter              1623 non-null int64
location.Code            1623 non-null int64
date_of_establishment    809 non-null object
location                 1623 non-null object
loc.details              1623 non-null object
state                    1623 non-null object
deposit_amount_2011      1623 non-null float64
deposit_amount_2012      1623 non-null float64
deposit_amount_2013      1623 non-null float64
deposit_amount_2014      1623 non-null float64
deposit_amount_2015      1623 non-null float64
deposit_amount_2016      1623 non-null float64
dtypes: float64(6), int64(2), object(4)
memory usage: 164.8+ KB

**Observations:**

1. We can see missing values in few columns. We will take care of it pre processing step.
2. **date_of_establishment** is interpreted as object, we need to convert into pandas datetime.
3. **location.Code** is categorical column but interpreted as numerical. We will take care of it pre processing step.

### c. describe

#### Train

In [7]:
df_train.describe()

,headquarter,location.Code,deposit_amount_2011,deposit_amount_2012,deposit_amount_2013,deposit_amount_2014,deposit_amount_2015,deposit_amount_2016,deposit_amount_2017
count,3790.0,3790.000000,3.050000e+03,3.212000e+03,3.461000e+03,3.615000e+03,3.734000e+03,3.771000e+03,3.771000e+03
mean,0.0,5395.806332,1.683201e+05,1.882705e+05,1.933803e+05,2.045743e+05,2.183874e+05,2.364422e+05,3.546633e+05
std,0.0,1549.105135,4.196386e+06,5.171073e+06,5.320718e+06,5.610536e+06,5.970416e+06,6.422120e+06,9.633180e+06
min,0.0,2871.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.0,4067.250000,2.839800e+04,3.019912e+04,3.159750e+04,3.497175e+04,3.935850e+04,4.632150e+04,6.948225e+04
50%,0.0,5261.500000,5.344200e+04,5.577450e+04,5.961600e+04,6.353700e+04,7.015800e+04,7.877400e+04,1.181610e+05
75%,0.0,6863.250000,9.910912e+04,1.004205e+05,1.072440e+05,1.145288e+05,1.249448e+05,1.373490e+05,2.060235e+05
max,0.0,7994.000000,2.303660e+08,2.915820e+08,3.110520e+08,3.350930e+08,3.623109e+08,3.919391e+08,5.879087e+08

#### Test

In [8]:
df_test.describe()

,headquarter,location.Code,deposit_amount_2011,deposit_amount_2012,deposit_amount_2013,deposit_amount_2014,deposit_amount_2015,deposit_amount_2016
count,1623.000000,1623.000000,1.623000e+03,1.623000e+03,1.623000e+03,1.623000e+03,1.623000e+03,1.623000e+03
mean,0.000616,1770.314849,8.362408e+05,9.847530e+05,1.107470e+06,1.220473e+06,1.388776e+06,1.412398e+06
std,0.024822,751.636198,2.366439e+07,2.782220e+07,3.120362e+07,3.435485e+07,3.877610e+07,4.003773e+07
min,0.000000,5.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000,1333.000000,5.078475e+04,5.330325e+04,5.722350e+04,6.181875e+04,6.461850e+04,6.957150e+04
50%,0.000000,1834.000000,9.857850e+04,1.034700e+05,1.123020e+05,1.204455e+05,1.271415e+05,1.343310e+05
75%,0.000000,2391.500000,1.813568e+05,1.938952e+05,2.072040e+05,2.263215e+05,2.387212e+05,2.584852e+05
max,1.000000,2870.000000,9.496965e+08,1.114902e+09,1.248682e+09,1.374814e+09,1.548824e+09,1.604138e+09

**Observations:**

**headquarter** has mostly 0's and single 1. We will drop this column in pre processing step.

 <a id=section302></a>
## 3.2 Pandas Profiling before Data Preprocessing

In [9]:
# To install pandas profiling please run this command.

#!pip install pandas-profiling --upgrade

In [10]:
from pandas_profiling import ProfileReport

# Running pandas profiling to get better understanding of data
# profile =  ProfileReport(df_train, title='Pandas Profiling Report before data preprocessing', html={'style':{'full_width':True}})
# profile.to_file(output_file="train_report_before_processing.html")

In [11]:
# Running pandas profiling to get better understanding of data
# profile =  ProfileReport(df_test, title='Pandas Profiling Report before data preprocessing', html={'style':{'full_width':True}})
# profile.to_file(output_file="test_report_before_processing.html")

 <a id=section4></a>
# 4. Data Preprocessing

 <a id=section401></a>
## 4.1 Dropping columns which may not help in model prediction

In [12]:
df_train.columns

Index(['headquarter', 'location.Code', 'date_of_establishment', 'location',
       'loc.details', 'state', 'deposit_amount_2011', 'deposit_amount_2012',
       'deposit_amount_2013', 'deposit_amount_2014', 'deposit_amount_2015',
       'deposit_amount_2016', 'deposit_amount_2017'],
      dtype='object')

### a. Drop columns with constant value

**NOTE:**

**headquarter** has mostly 0's and single 1. Let's delete it.

#### Train

In [13]:
df_train.drop('headquarter', axis = 1, inplace=True)

#### Test

In [14]:
df_test.drop('headquarter', axis = 1, inplace=True)

### b. Drop columns which has unique values

NOTE:

**location.Code** has high carginality i.e no of uniquevalues = no of rows. Let's drop t.

#### Train

In [15]:
df_train.drop('location.Code', axis = 1, inplace=True)

#### Test

In [16]:
df_test.drop('location.Code', axis = 1, inplace=True)


### c. Drop rows in train data with missing values in target variable

In [17]:
df_train = df_train[~df_train['deposit_amount_2017'].isna()]

In [18]:
df_train['deposit_amount_2017'].isna().sum()

0

 <a id=section403></a>
## 4.3 Handling mismatched datatypes

### a.  **date_of_establishment**

#### Train

In [19]:
df_train['date_of_establishment'] = pd.to_datetime(df_train['date_of_establishment'] , errors = 'coerce', utc = True)

#### Test

In [20]:
df_test['date_of_establishment'] = pd.to_datetime(df_test['date_of_establishment'] , errors = 'coerce', utc = True)

 <a id=section404></a>
## 4.4 Filling missing values

In [21]:
feature_cols = list(df_test.columns)
continuous_columns = list(df_test.select_dtypes(include='number').columns)
categorical_columns = list(df_test.columns.difference(continuous_columns))

#### Train

In [22]:
df_train.isna().sum()

date_of_establishment    2030
location                 0
loc.details              0
state                    0
deposit_amount_2011      721
deposit_amount_2012      559
deposit_amount_2013      310
deposit_amount_2014      156
deposit_amount_2015      37
deposit_amount_2016      0
deposit_amount_2017      0
dtype: int64

In [ ]:
! pip

In [23]:
from sklearn.impute import KNNImputer

# Define the imputer
knn_imputer = KNNImputer(n_neighbors=5, weights="uniform")

# Transform the dataset
transformed_values = knn_imputer.fit_transform(df_train[continuous_columns])

ImportError: cannot import name 'KNNImputer' from 'sklearn.impute' (/home/raju4789/anaconda3/lib/python3.7/site-packages/sklearn/impute/__init__.py)

In [ ]:
df_train_continuous = pd.DataFrame(transformed_values)
df_train_continuous.columns = continuous_columns
df_train_continuous.index = df_train.index

In [ ]:
df_train_continuous.isna().sum()

In [ ]:
from sklearn.impute import SimpleImputer

# Define the imputer
simple_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

# Transform the dataset
transformed_values = simple_imputer.fit_transform(df_train[categorical_columns])

In [ ]:
df_train_categorical = pd.DataFrame(transformed_values)
df_train_categorical.columns = categorical_columns
df_train_categorical.index = df_train.index

In [ ]:
df_train_categorical.isna().sum()

In [ ]:
# merge categorical and continuos columns
df_train = pd.concat([df_train_continuous,df_train_categorical, df_train['deposit_amount_2017']], axis = 1).reindex(df_train.index)
df_train.head()

In [ ]:
df_train.isna().sum()

#### Test

In [ ]:
df_test.isna().sum()

In [ ]:
from sklearn.impute import SimpleImputer

# Define the imputer
simple_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

# Transform the dataset
transformed_values = simple_imputer.fit_transform(df_test[categorical_columns])

In [ ]:
df_test_categorical = pd.DataFrame(transformed_values)
df_test_categorical.columns = categorical_columns
df_test_categorical.index = df_test.index

In [ ]:
df_test_categorical.isna().sum()

In [ ]:
# merge categorical and continuos columns
df_test = pd.concat([df_test[continuous_columns],df_test_categorical], axis = 1).reindex(df_test.index)
df_test.head()

In [ ]:
df_test.isna().sum()

 <a id=section405></a>
## 4.5 Remove outliers

In [ ]:
feature_cols = list(df_test.columns)
continuous_columns = list(df_test.select_dtypes(include='number').columns)
categorical_columns = list(df_test.columns.difference(continuous_columns))

In [ ]:
df_train.shape

#### Train

In [ ]:
from sklearn.ensemble import IsolationForest

clf = IsolationForest(max_samples=100, random_state=1, contamination='auto')
preds = clf.fit_predict(df_train[continuous_columns])

# Select all rows that are not outliers
mask = preds != -1
df_train = df_train[mask]
df_train

 <a id=section406></a>
## 4.6 Extracting features from date_of_establishment

#### Train

In [ ]:
df_train['cur_year'] = df_train['date_of_establishment'].dt.year
df_train['cur_year'] = df_train['cur_year'].astype(str)

In [ ]:
df_train.drop('date_of_establishment', axis = 1, inplace=True)

#### Test

In [ ]:
df_test['cur_year'] = df_test['date_of_establishment'].dt.year
df_test['cur_year'] = df_test['cur_year'].astype(str)

In [ ]:
df_test.drop('date_of_establishment', axis = 1, inplace=True)

 <a id=section407></a>
## 4.7 Pandas Profiling after Data Preprocessing

In [ ]:
from pandas_profiling import ProfileReport

# Running pandas profiling to get better understanding of data
#profile =  ProfileReport(df_train, title='Pandas Profiling Report after data preprocessing', html={'style':{'full_width':True}})
#profile.to_file(output_file="train_report_after_processing.html")

In [ ]:
# Running pandas profiling to get better understanding of data
#profile =  ProfileReport(df_test, title='Pandas Profiling Report after data preprocessing', html={'style':{'full_width':True}})
#profile.to_file(output_file="test_report_after_processing.html")

 <a id=section5></a>
# 5. Exploratory Data Analysis

 <a id=section501></a>
## 5.1 Univariate Analysis

 <a id=section502></a>
 ## 5.2 Multivariate Analysis

 <a id=section6></a>
 # 6. Creating Model and Prediction

 <a id=section601></a>
## 6.1 Converting categorical variables to numerical

In [ ]:
feature_cols = list(df_test.columns)
continuous_columns = list(df_test.select_dtypes(include='number').columns)
categorical_columns = list(df_test.columns.difference(continuous_columns))

### a. One Hot Encoding

#### Train

In [ ]:
# lets look at how many unique labels each category has
for i in range(0, len(categorical_columns)):
  print(categorical_columns[i], " - ", df_train[categorical_columns[i]].nunique())

NOTE:

**cur_year** has 111 unique values. let's see its distribution

In [ ]:
df_train['cur_year'].value_counts()

As distribution is mostly concentrated in top 10 categories.
Can we apply below thesis results?

http://proceedings.mlr.press/v7/niculescu09/niculescu09.pdf

In the winning solution Of the KDD 2009 cup: "Winning the KDD Cup Orange Challenge with Ensemble Selection the authors limit one hot encoding to the 10 most frequent labels of the variable. This means that they would make one binary variable for each of the 10 most frequent labels only. This iS equivalent to grouping all the other labels under a new category, that in this case will be dropped. Thus, the 10 new dummy variables indicate if one of the 10 most frequent labels is present (1) or not (O) for a particular observation.

#### Train

In [ ]:
imp_labels = list(df_train['cur_year'].value_counts().head(10).index)

for label in imp_labels:
    df_train['cur_year_'+label] = np.where(df_train['cur_year'] == label, 1, 0)

df_train.drop('cur_year', axis = 1, inplace=True)

In [ ]:
df_train.head()

#### Test

In [ ]:
for label in imp_labels:
    df_test['cur_year_'+label] = np.where(df_test['cur_year'] == label, 1, 0)

df_test.drop('cur_year', axis = 1, inplace=True)

In [ ]:
df_test.head()

### b. Clustering location details

In [ ]:
!pip install geopandas
!pip install geopy

In [ ]:
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent='myGeocoder')
location = locator.geocode('Scarsdale,NY')
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))

In [ ]:
def calculate_lat_long(df, type):
  location = locator.geocode(df['location']+','+df['state'])
  if location is not None:
    if type == 'lat':
      return location.latitude
    else:
      return location.longitude
  else:
    return np.nan

In [ ]:
df_train['loc_lat'] = df_train.apply(lambda row: calculate_lat_long(row, 'lat'), axis=1)
df_train['loc_long'] = df_train.apply(lambda row: calculate_lat_long(row, 'long'), axis=1)

 <a id=section602></a>
## 6.2 Check for assumptions of linear regression

### 6.2.1 Target variable should be normally distributed

In [ ]:
house_price = df_property_price[~df_property_price['Sale_Price'].isna()]['Sale_Price']
sns.distplot(house_price, color="b")

In [ ]:
house_price_log=  np.log(df_property_price[~df_property_price['Sale_Price'].isna()]['Sale_Price'])
sns.distplot(house_price_log, color="b")

In [ ]:
df_property_price['Sale_Price'] = house_price_log
sns.distplot(df_property_price[~df_property_price['Sale_Price'].isna()]['Sale_Price'], color="b")

### 6.2.2 Independant variables shouldn't be correlated

In [ ]:
# extracting feature columns
feature_cols = list(df_property_price.columns)
feature_cols.remove('Sale_Price')
feature_cols

In [ ]:
# extracting highly correlated columns to drop

# Create correlation matrix
corr_matrix = df_property_price[feature_cols].corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.80)]
to_drop

In [ ]:
# Drop features 
df_property_price.drop(to_drop, axis=1, inplace=True)
df_property_price.shape

### 6.2.3 Independant variables and target variable should have linear relation

 <a id=section603></a>
## 6.3 Segregating test data and string to a dataframe

In [ ]:
df_property_price_train = df_property_price[~df_property_price['Sale_Price'].isna()]
df_property_price_train['Sale_Price'].head()

In [ ]:
df_property_price_test = df_property_price[df_property_price['Sale_Price'].isna()]
df_property_price_test['Sale_Price'].head()

 <a id=section604></a>
## 6.4 Standardization of independent variables

In [ ]:
# extracting feature columns again
feature_cols = list(df_property_price.columns)
feature_cols.remove('Sale_Price')
len(feature_cols)

In [ ]:
from sklearn.preprocessing import StandardScaler

# standardizing train data
scaler = StandardScaler().fit(df_property_price_train[feature_cols])
data_train = scaler.transform(df_property_price_train[feature_cols])

# standardizing test data
scaler = StandardScaler().fit(df_property_price_test[feature_cols])
data_test = scaler.transform(df_property_price_test[feature_cols])

In [ ]:
# forming dataframe after standardization
df_property_price_train_sd= pd.DataFrame(data_train)
df_property_price_train_sd.columns = feature_cols
df_property_price_train_sd.head()

In [ ]:
# forming dataframe after standardization
df_property_price_test_sd= pd.DataFrame(data_train)
df_property_price_test_sd.columns = feature_cols
df_property_price_test_sd.head()

 <a id=section605></a>

### 6.5 Model prediction

In [ ]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [ ]:
X_train = df_property_price_train_sd[feature_cols]
y_train = df_property_price_train['Sale_Price']

X_test = df_property_price_test_sd[feature_cols]
X_test.shape

In [ ]:
linreg.fit(X_train,y_train)

In [ ]:
print('Intercept:',linreg.intercept_)# print the intercept 
print('Coefficients:',linreg.coef_)

In [ ]:
y_pred_train = linreg.predict(X_train) 
y_pred_train

In [ ]:
y_pred_test = linreg.predict(X_test)   # make predictions on the testing set

In [ ]:
from sklearn import metrics
RMSE_train = np.sqrt( metrics.mean_squared_error(y_train, y_pred_train))
print('RMSE for training set is {}'.format(RMSE_train))

In [ ]:
yhat = linreg.predict(X_train)
SS_Residual = sum((y_train-yhat)**2)
SS_Total = sum((y_train-np.mean(y_train))**2)
r_squared = 1 - (float(SS_Residual))/SS_Total
adjusted_r_squared = 1 - (1-r_squared)*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)
print(r_squared, adjusted_r_squared)

In [ ]:
y_pred_test = linreg.predict(X_test) 
y_pred_test.shape

In [ ]:
x = np.exp(y_pred_test)
x.shape

In [ ]:
# Null deviance
# Residual deviance
#RMSE  Actual +- RMSE